@import './colors.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 100vh;
	min-width: 250px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 65.5%;
	background-color: $very-dark-blue;
}
.footer {
	flex: 1 100%;
	text-align: center;
	font-size: 11px;
	
	color: $white;
	padding: 2em 1em;
	a {
		color: hsl(228, 29%, 52%);
	}
}
.stats-data {
	font-size: 1.3rem;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}
.stats-text {
	text-transform: uppercase;
	padding: 0.5em 0;
	font-size: 0.7rem;
	color: $stw2;
}
.main {
	border-radius: 10px;
	overflow: hidden;
	margin: 2em;
}
.image {
	position: relative;
	min-height: 240px;
	background-image: url(../images/image-header-mobile.jpg);
	overflow: hidden;
	background-size: cover;
	background-position: center;

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $bg-violet;
	}
}
.section {
	background-color: $dark-desaturated-blue;
	color: $white;
	&__title {
		font-size: 1.4rem;
		padding: 1.5em 2.5em;
		text-align: center;
		&--violet {
			color: $violet;
		}
	}
	&__text {
		text-align: center;
		padding: 0 2.5em;
		font-size: 0.8rem;
		line-height: 1.5em;
		color: $stw2;
	}
	&__stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 1em;

		&--one {
			padding: 1em;
		}
		&--two {
			padding: 1em;
		}
		&--three {
			padding: 1em;
		}
	}
}

@media (min-width: 768px) {

	.main {
		display: flex;
		flex-direction: row-reverse;
		margin: 5em;
		max-height: 500px;
		max-width: 1500px;

		.image {
			width: 45vw;
		}
		.section {
			width: 55vw;
			padding: 3em;
			&__title {
				text-align: left;
				padding: 1em 1em;
				font-size: 2rem;
			}
			&__text {
				text-align: left;
				padding: 2em 2em;
				font-size: 1rem;
			}
			&__stats {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}
